@import "foundation/components/type";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
//@import "foundation/components/buttons";
//@import "foundation/components/button-groups";

@import "normalize";

h1 {
    text-indent: -1000px;
    a {
        width: 100%;
        display: block;
        background-image: url("/static/images/logo-small.png");
        background-size: 125px 27px;
        background-repeat: no-repeat;
    }
}
