@import "foundation/components/type";
@import "foundation/components/grid";
//@import "foundation/components/inline-lists";
//@import "foundation/components/buttons";
//@import "foundation/components/button-groups";

@import "normalize";

h1 {
    line-height: 1.8;
    margin: 0;

    a {
        width: 100%;
        display: block;
        color: orange;

        &:hover {
            color: orange;
        }
    }
}
